{% extends 'userprofile/header.html' %}

{% block content %}
    {% load static %}
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        {% load crispy_forms_tags %}

        <!--Login--> 
        <div class="container py-5">
        <form method="POST">
            <a href="/frontpage">Home</a>
            <h1>Login</h1>
            {% csrf_token %}
            {{ login_form|crispy }}
            <button class="btn btn-primary" type="submit">Login</button>
            <a href="/password_reset">Forgot password?</a>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
            <p class="text-center">Become Vendor <a href="/become_vendor">Create vendor account</a>.</p>
        </form>
        </div>
    </body>
    </html>
{% endblock %}