<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>  
  <style>
    /* 
 * About page CSS styles
 */

/* Header */
.header {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
}

/* Title */
h1 {
  font-size: 2em;
  margin-top: 0;
}

/* Paragraphs */
p {
  font-size: 1em;
  line-height: 1.5;
}

/* Images */
img {
  max-width: 10%;
  height: auto;
}

/* Footer */
.footer {
  background-color: #ffffff;
  padding: 20px;
  border-top: 1px solid #cccccc;
}
  </style>
</head>
<body>
  <header>
    <h1>About Us</h1>
  </header>
  <section>
    <h2>What Inspired Us</h2>
    <p>Was inspired to create this project because i believe that everyone should have access to sell online and grow their revenue. i am committed to providing a platform where people can connect, sell and buy products and services.</p>
  </section>
  <section>
    <h2>Our Team</h2>
    <ul>
      <li>
        <img src="uploads/images/muka.jpg" alt="Team Member 1">
        <h3>Kanyanta Musonda</h3>
        <p>Kanyanta Musonda is a student software engineer with with ALX Africa. He is passionate about building innovative products that make a positive impact on the world.</p>
        <ul>
          <li><a href="https://www.linkedin.com/in/kanyanta-musonda-b82ab8176">LinkedIn</a></li>
          <li><a href="https://github.com/KMusonda/">GitHub</a></li>
          <li><a href="@KanyantaMusonda1">Twitter</a></li>
        </ul>
      </li>      
  </section>
  <section>
    <h2>GitHub Repository</h2>
    <p>You can find the source code for this project on GitHub.</p>
    <a href="https://github.com/KMusonda/CHISOKONE-E-commerce">GitHub Repository</a>
  </section>
  <footer>
    <p>Copyright &copy; 2023, Project Name</p>
  </footer>
</body>
</html>
